* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
  margin-bottom: 100px;
  background: url(../images/bckgrnd.png) repeat;
}

.rokuLogo {
  fill: black;
  float: left;
  margin-top: 10px;
}

.userlist {
  text-align: center;
  font-size: 2rem;
  color: #2b2925;
  font-family: rajdhani, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
  background-color: #feedd0;
}

header {
  padding: 12px 14px;
  position: fixed;
  z-index: 500;
  width: 100%;
}
header span {
  margin-left: 15px;
  font-weight: bolder;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  top: 5px;
}

#profset {
  border-radius: 7px;
  padding: 5px;
  border: 2px #f23d3d;
  background-color: #f23d3d;
  color: #feedd0;
  font-family: rajdhani, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 490px;
}

nav:not(.side-nav) ul {
  right: 3em;
  list-style-type: none;
  margin-bottom: 0;
  color: #2b2925;
}
nav:not(.side-nav) ul li {
  display: inline-block;
  font-size: 1.75em;
  padding: 0 0.2em;
  cursor: pointer;
  z-index: 1;
}

.toast {
  position: absolute;
  right: 1em;
  top: 4.25rem;
  z-index: 200;
  color: red;
  min-width: 175px;
}
.toast .toast-body span {
  margin-left: 0.8rem;
  position: relative;
  top: -2px;
  font-weight: bolder;
}

.fa-exclamation-triangle {
  color: red;
  font-size: 1.5em;
}

.container > div:first-of-type {
  margin-top: 53px;
}

.display-4 {
  font-family: rajdhani, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #feedd0;
}

.user-message {
  text-align: center;
  font-size: 2rem;
  color: #2b2925;
  font-family: rajdhani, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mov_genres {
  margin-top: 30px;
  float: left;
}

.filterNav {
  margin-top: 70px;
  color: red;
  font-size: 14px;
  float: left;
}

.user-message {
  margin: 0.25em 0 1em;
}

.card {
  cursor: pointer;
  color: black;
  background: #feedd0;
  margin-bottom: 1em;
  width: 200px;
  height: 200px;
  float: left;
}
.card .card-body p {
  margin: 10px 0 0;
}

@media screen and (max-width: 600px) {
  .card {
    cursor: pointer;
    color: black;
    background: black;
    margin-bottom: 1em;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 100px;
  }
  .card .card-body p {
    color: #f23d3d;
    font-family: rajdhani, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    margin-left: 30px;
  }

  .cards {
    margin-left: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .card {
    cursor: pointer;
    color: black;
    background: black;
    margin-bottom: 1em;
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 100px;
  }
  .card .card-body p {
    color: #f23d3d;
    font-family: rajdhani, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    margin-left: 30px;
  }

  .cards {
    margin-left: 170px;
  }
}
@media screen and (min-width: 1000px) {
  .card {
    cursor: pointer;
    color: black;
    background: black;
    margin-bottom: 1em;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 100px;
  }
  .card .card-body p {
    color: #f23d3d;
    font-family: rajdhani, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    margin-left: 70px;
  }

  .cards {
    margin-left: 170px;
  }
}
.fs-video {
  width: 100%;
}

.media-container {
  background: black;
}

.media-container:first-of-type {
  padding-bottom: 1em;
}

.media-container:last-of-type {
  padding-left: 0;
  padding-right: 0;
}

.media-title {
  font-size: 1.5em;
  padding-top: 1em;
  font-weight: bolder;
}

.media-details {
  font-size: 1.2em;
  padding: 0.5em 0;
}

.media-year, .media-time {
  font-size: 1em;
}

.media-year {
  display: block;
  float: right;
}

.side-nav {
  background: #020202;
}

.media-type {
  list-style-type: none;
  margin-bottom: 0;
}
.media-type li {
  padding: 1rem;
  cursor: pointer;
  display: inline-block;
  width: 33%;
  text-align: center;
}
.media-type li span:first-of-type {
  font-size: 2rem;
  color: white;
}
.media-type li:hover span:first-of-type {
  color: #6C3C97;
}

.media-genres {
  list-style-type: none;
  background: black;
  margin: 0;
  padding: 1em 1em 1em 1.5em;
}
.media-genres li {
  display: inline-block;
}
.media-genres li a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
.media-genres li a:hover {
  color: #6C3C97;
}
.media-genres li::after {
  content: "|";
  padding: 0 8px 0 13px;
  color: rgba(255, 255, 255, 0.5);
}
.media-genres li:last-of-type::after {
  content: none;
}

.media-info {
  padding-left: 0;
  padding-right: 0;
}
.media-info > div {
  padding: 0 10px;
}

.media-thumb {
  height: 140px;
  margin: 0.7em;
}

.audio-thumb {
  height: 150px;
}

.audio-wrapper {
  background: #1a1818;
}
.audio-wrapper img {
  max-width: 85%;
  display: block;
  margin: 0 auto;
  padding: 4%;
}

audio {
  width: 70%;
  margin: 0 13%;
  position: absolute;
  bottom: 12%;
  opacity: 0.8;
}

.roku-jumbotron {
  color: #333;
  margin: 0 auto;
  margin-left: 250px;
  float: left;
}

#flashback {
  font-family: rajdhani, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f23d3d;
  font-size: 35px;
  float: left;
  padding: 0;
}

#fback {
  font-family: rajdhani, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f23d3d;
  font-size: 40px;
}

.lead {
  font-family: rajdhani, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 93px;
  width: 350px;
  color: #feedd0;
}

#loginBox {
  margin-top: 120px;
  background-color: #2b2925;
}

@media screen and (max-width: 600px) {
  #loginBox {
    margin-left: 0;
    float: left;
    margin-top: 150px;
  }

  .display-4 {
    font-size: 30px;
    margin-left: 50px;
  }

  .lead {
    font-family: rajdhani, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 350px;
    color: #feedd0;
    margin-left: 50px;
  }

  .form-control {
    background-color: #feedd0;
    margin-left: 80px;
    width: 250px;
    margin-bottom: 10px;
  }

  button {
    border-radius: 30px;
    color: #f23d3d;
    margin-left: 80px;
    width: 200px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #loginBox {
    margin-left: 0;
    float: left;
    margin-top: 150px;
  }

  .display-4 {
    font-size: 30px;
    margin-left: 50px;
  }

  .lead {
    font-family: rajdhani, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 350px;
    color: #feedd0;
    margin-left: 50px;
  }

  .form-control {
    background-color: #feedd0;
    margin-left: 50px;
  }

  button {
    border-radius: 30px;
    color: #f23d3d;
    width: 100px;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1000px) {
  #loginBox {
    margin-left: 0;
    float: left;
    margin-top: 150px;
  }

  .display-4 {
    font-size: 30px;
    margin-left: 50px;
  }

  .lead {
    font-family: rajdhani, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 350px;
    color: #feedd0;
    margin-left: 50px;
  }

  .form-control {
    background-color: #feedd0;
    margin-left: 50px;
  }

  button {
    border-radius: 30px;
    color: #f23d3d;
    width: 100px;
    margin-left: 50px;
  }

  #fback {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .Usercontainer {
    background-image: url(../images/profile_bckgrnd.png);
    height: 600px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .Usercontainer {
    background-image: url(../images/profile_bckgrnd.png);
    height: 600px;
  }
}
@media screen and (min-width: 1000px) {
  .Usercontainer {
    background-image: url(../images/profile_bckgrnd.png);
    height: 600px;
  }
}
@media screen and (max-width: 600px) {
  #hello {
    color: black;
    float: left;
    margin-top: 100px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 30px;
    margin-left: 170px;
  }

  .row {
    float: left;
    margin-left: 10px;
  }

  .cat {
    float: left;
    margin-left: 40px;
  }

  .catPic {
    width: 100px;
    height: 100px;
    float: left;
  }

  .catTitle {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 50px;
  }

  #musicTitle {
    margin-left: 20px;
  }

  #tvTitle {
    margin-left: 35px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #hello {
    color: black;
    float: left;
    margin-top: 100px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 40px;
    margin-left: 250px;
  }

  .row {
    float: left;
    margin-left: 10px;
  }

  .cat {
    float: left;
    margin-left: 20px;
  }

  .catPic {
    width: 200px;
    height: 200px;
    float: left;
  }

  .catTitle {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 50px;
  }

  #musicTitle {
    margin-left: 50px;
  }

  #tvTitle {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1000px) {
  #hello {
    color: black;
    float: left;
    margin-top: 100px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 50px;
    margin-left: 420px;
  }

  .row {
    float: left;
    margin-left: 70px;
  }

  .cat {
    float: left;
    margin-left: 90px;
  }

  .catPic {
    width: 200px;
    height: 200px;
    float: left;
  }

  .catTitle {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 50px;
  }

  #musicTitle {
    margin-left: 50px;
  }

  #tvTitle {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1000px) {
  #red1 {
    background-color: #f23d3d;
    height: 400px;
    width: 100%;
    float: left;
  }

  #vidPlayer {
    float: left;
    z-index: 1;
    position: absolute;
    margin-top: 120px;
    width: 100%;
  }

  #vidMov {
    width: 800px;
    height: 400px;
    margin-top: 100px;
    float: left;
  }

  .movText {
    float: left;
    width: 400px;
    margin-top: 200px;
    margin-left: 30px;
  }

  #movie {
    width: 100%;
  }

  #movTitle {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #feedd0;
    font-size: 25px;
    float: left;
  }

  #movYear {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #feedd0;
    font-size: 25px;
    float: left;
    margin-left: 20px;
    border-left: 1px solid #feedd0;
    padding-left: 20px;
  }

  #movSum {
    margin-top: 150px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #013a40;
    font-size: 20px;
  }

  #movSelect {
    margin-top: 400px;
    background-color: #f23d3d;
    float: left;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .media-thumb {
    width: 200px;
    height: 250px;
    margin-top: 50px;
  }

  .movList {
    margin-left: 80px;
  }

  #footer {
    float: left;
    margin-left: 80px;
  }

  #power {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #013a40;
    font-size: 15px;
    float: left;
    margin-top: 50px;
    margin-right: 20px;
  }

  #rokuimg {
    float: left;
    margin-top: 33px;
  }

  #copy {
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #013a40;
    font-size: 15px;
    float: left;
    margin-top: 50px;
    margin-left: 700px;
  }

  #album {
    float: left;
    margin-left: 30px;
  }

  #audPlayer {
    float: left;
    z-index: 1;
    position: absolute;
    margin-left: 50px;
    margin-top: 200px;
    width: 100%;
  }

  #Audioplayer {
    float: left;
    width: 500px;
    margin: 0;
    position: relative;
    margin-left: 30px;
    margin-top: 50px;
  }

  .movCopy {
    width: 500px;
    float: left;
    margin-left: 30px;
  }

  #movArtist {
    margin-top: 50px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #013a40;
    font-size: 20px;
  }

  #genTop {
    float: left;
  }

  .show {
    display: block;
  }

  #categories {
    float: left;
    position: absolute;
    z-index: 1;
  }

  .movie-genres {
    float: left;
    z-index: 1;
  }
  .movie-genres li {
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
  }

  #genres {
    display: none;
  }

  #decades {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
