@media screen and (max-width: 600px){

    #hello{
        color: black;
        float: left;
        margin-top: 100px;
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f23d3d;
        font-size: 30px;
        margin-left: 170px;
    }

    .row{
        float: left;
        margin-left: 10px;
    }

    .cat{
        float: left;
        margin-left: 40px;
    }

    .catPic{
        width: 100px;
        height: 100px;
        float: left;
    }

    .catTitle{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f23d3d;
        font-size: 25px;
        margin-left: 10px;
        margin-top: 50px;
    }

    #musicTitle{
        margin-left: 20px;
    }

    #tvTitle{
        margin-left: 35px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    #hello{
        color: black;
        float: left;
        margin-top: 100px;
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f23d3d;
        font-size: 40px;
        margin-left: 250px;
    }

    .row{
        float: left;
        margin-left: 10px;
    }

    .cat{
        float: left;
        margin-left: 20px;
    }

    .catPic{
        width: 200px;
        height: 200px;
        float: left;
    }

    .catTitle{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f23d3d;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 50px;
    }

    #musicTitle{
        margin-left: 50px;
    }

    #tvTitle{
        margin-left: 80px;
    }


}

@media screen and (min-width: 1000px){

    #hello1{
        float: left;
        margin-top: 100px;
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #feedd0;
        font-size: 50px;
        margin-left: 420px;
    }


    #hello{
        float: left;
        margin-top: 100px;
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f23d3d;
        font-size: 50px;
        margin-left: 420px;
    }
    .catTitle{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f23d3d;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 50px;
    }

    .row{
        float: left;
        margin-left: 70px;
    }

    .cat{
        float: left;
        margin-left: 90px;
    }

    .catPic{
        width: 200px;
        height: 200px;
        float: left;
    }

    .catTitle1{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #feedd0;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 50px;
    }

    .catTitle{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f23d3d ;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 50px;
    }

    #musicTitle{
        margin-left: 50px;
    }

    #tvTitle{
        margin-left: 80px;
    }

    .Ccontainer{
        background-color: #f23d3d;
        width: 100%;
        height: 1000px;
        float: left;
    }

   
}