* { border: 0; padding: 0; margin: 0; }

html { position: relative; min-height: 100%; }


body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: black;
	color: white;
	margin-bottom: 100px;
	background: url(../images/bckgrnd.png) repeat;
}



.rokuLogo 
{
	fill: black;
	float: left;
	margin-top: 10px;
}


.userlist
{
	text-align: center; 
	font-size: 2rem;
	color: #2b2925 ;
	font-family: rajdhani, sans-serif;
	font-weight:  400;
	font-style: normal;
	
}

#header{
	background-color: #feedd0;
}

header {
	padding: 12px 14px;
	position: fixed;
	z-index: 500;
	width: 100%; 

	span {
		margin-left: 15px;
		font-weight: bolder;
		font-size: 1.5em;
		text-transform: uppercase;
		position: relative;
		top: 5px;
	}
}



nav:not(.side-nav) {
	ul {
		right: 3em;
		list-style-type: none;
		margin-bottom: 0;
		color: #2b2925;

		li {
			display: inline-block;
			font-size: 1.75em;
			padding: 0 0.2em;
			cursor: pointer;
			z-index: 1;
		}
	}
}

.toast {
	position: absolute;
	right: 1em;
	top: 4.25rem;
	z-index: 200;
	color: red;
	min-width: 175px;

	.toast-body {
		span { margin-left: 0.8rem; position: relative; top: -2px; font-weight: bolder; }
	}
}

.fa-exclamation-triangle { color: red; font-size: 1.5em; }

.container > div:first-of-type { margin-top: 53px; }

// resets for small sizes

.display-4 {
	font-family: rajdhani, sans-serif;
	font-weight:  400;
	font-style: normal;
	color: #feedd0;
}


#mov_genres
{
	
	margin-top: 30px;
	float: left;
	
}

.filterNav 
{

	margin-top: 70px;
	color: red;
	font-size: 14px;
	float: left;

}



