@media screen and (min-width: 1000px){
    #red1{
        background-color: #f23d3d;
        height: 400px;
        width: 100%;
        float: left;
        margin-top: 400px;
        
    }
    #vidPlayer{
        float: left;
        z-index: 1;
        position: absolute;
        margin-top: 120px;
        width: 100%;
    }

    #vidMov{
        width: 800px;
        height: 400px;
        margin-top: 100px;
        float: left;
    }

    .movText{
        float: left;
        width: 400px;
        margin-top: 200px;
        margin-left: 30px;
    }

    #movie{
        width: 100%;
    }

    #movTitle{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #013a40;
        font-size: 25px;
        float: left;
    }

    #movYear{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #013a40;
        font-size: 25px;
        float: left;
        margin-left: 20px;
        border-left: 1px solid #013a40;
        padding-left: 20px;
    }

    #movSum{
        margin-top: 150px;
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #feedd0;
        font-size: 20px;
    }

    #movSelect{
        float: left;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .media-thumb{
        width: 200px;
        height: 250px;
        margin-top: 50px;
    }

    .movList{
        margin-left: 80px;
        margin-top: 60px;
    }

    #footer{
        float: left;
        margin-left: 80px;
    }

    #power{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #013a40;
        font-size: 15px;
        float: left;
        margin-top: 50px;
        margin-right: 20px;
    }

    #rokuimg{
        float: left;
        margin-top: 33px;
    }

    #copy{
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #013a40;
        font-size: 15px;
        float: left;
        margin-top: 50px;
        margin-left: 700px;
    }

    #album{
        float: left;
        margin-left: 30px;
    }

    #audPlayer{
        float: left;
        z-index: 1;
        position: absolute;
        margin-left: 50px;
        margin-top: 200px;
        width: 100%;
    }

    #Audioplayer{
        float: left;
        width: 500px;
        margin: 0;
        position: relative;
        margin-left: 30px;
        margin-top: 50px;
    }

    .movCopy{
        width: 500px;
        float: left;
        margin-left: 30px;
    }

  
    #movArtist{
        margin-top: 50px;
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #013a40;
        font-size: 20px;
    }

    #genTop{
        float: left;
        margin: 0;
        margin-left: 10px;
        background-color: #013a40;
        padding: 5px;
        padding-right: 40px;
        color:#feedd0;
    }

    #decTop{
        float: left;
        margin: 0;
        margin-left: 10px;
        background-color: #013a40;
        padding: 5px;
        padding-left: 10px;
        padding-right: 40px;
        color:#feedd0;
    }

    .show{
        display: block;
    }

    #categories{
        float: left;
        position: absolute;
        z-index: 1;
    }

    .movie-genres{
        float: left;
        z-index: 1;
        position: absolute;
        margin-left: 145px;
        margin-top: 25px;
        background-color: #013a40;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        color:#feedd0;


        li{
            
            text-decoration: none;
            list-style: none;
            font-family: rajdhani, sans-serif;
            font-weight: 700;
            font-style: normal;
            color: #feedd0;
            font-size: 20px;
        }
    }

    .decade-list{
        float: left;
        z-index: 1;
        position: absolute;
        margin-left: 390px;
        margin-top: 25px;
        background-color: #013a40;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
        color:#feedd0;
        width: 100px;


        li{
            
            text-decoration: none;
            list-style: none;
            font-family: rajdhani, sans-serif;
            font-weight: 700;
            font-style: normal;
            color: #feedd0;
            font-size: 20px;
        }

    }

 #genres{
     display: none;
     float: left;
 }

 #decades{
     display: none;
    
     float: left;
 }

 #browse1{
        float: left;
        font-family: rajdhani, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #013a40;
        font-size: 20px;
        margin-left: 40px;
 }

 #browse2{
    float: left;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #013a40;
    font-size: 20px;
    margin-left: 40px;
}

}