@media screen and (min-width: 1000px){

#settings{
    width: 100%;
    background-image: url(../images/profile_bckgrnd.png);
    height: 500px;
    z-index: 1;
    position: absolute;
    display: none;
    margin-top: 100px;
    float: left;
}

#x{
    color: #f23d3d;
    font-size: 20px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

#edit{
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #f23d3d;
    font-size: 25px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;

}

#parentProf{
    float: left;
    width: 400px;

}

#parImg{
    float: left;
    margin-top: 50px;
    margin-left: 10px;
}

#label{
    float: left;
    margin-top: 80px;
    margin-left: 170px;
    color: #84b3ad;
    background-color: #feedd0;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-size: 20px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
}

#contFil{
    font-size: 20px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #feedd0;
    margin-top: 180px;
    margin-left: 180px;
    width: 200px;
    float: left;
    position: absolute;

}

#agRate{
    float: left;
    font-size: 20px;
    font-family: rajdhani, sans-serif;
    font-weight: 700;
    background-color: #84b3ad;
    font-size: 20px;
    color: #feedd0;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-left: 0;
    margin-top: 220px;
    position: absolute;

}

#ageRes{
    float: left;
    margin: 0;
    background-color: #84b3ad;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color:#feedd0;
    z-index: 1;
    position: absolute;
    margin-top: 250px;
    margin-left: 180px;
    display: none;
}

#cageRes{
    float: left;
    margin: 0;
    background-color: #84b3ad;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    color:#feedd0;
    z-index: 1;
    position: absolute;
    margin-top: 250px;
    margin-left: 180px;
    display: none;
}

#childProf{
    float: left;
    margin-left: 10px;
    position: relative;

}




}