.user-message { margin: 0.25em 0 1em; }

.card { 
    cursor: pointer;  
    color: black; 
    background: #feedd0;
    margin-bottom: 1em;
    width: 200px;
    height: 200px;
    float: left;

    .card-body p { margin: 10px 0 0; }
}

@media screen and (max-width: 600px){

    .card { 
        cursor: pointer;  
        color: black; 
        background: black;
        margin-bottom: 1em;
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 20px;
        margin-top: 100px;

        .card-body p {
           color: #f23d3d;
           font-family: rajdhani, sans-serif;
           font-weight:  400;
           font-style: normal;
           position: absolute;
            z-index: 1;
            font-size: 40px;
            margin-left: 30px;
            }
    }

    .cards{
        margin-left: 20px;
        
    }
    
    
    }